{% extends "users/base.html" %}
{% block title %}Новый пароль{% endblock %}
{% block header_title %}
  {% if validlink %}
    Введите новый пароль
  {% else %}
    Ошибка
  {% endif %}
{% endblock header_title %}

{% block form_content %}
  {% if validlink %}
    {% include 'includes/form_errors.html' %}

    <form method="post"
      {% if action_url %}
        action="{% url action_url %}"
      {% endif %}
    >
      {% csrf_token %}

      {% include 'includes/form_fields.html' %}

      <div class="col-md-6 offset-md-4">
        <button type="submit" class="btn btn-primary">
          Назначить новый пароль
        </button>
      </div>
    </form>
  {% else %}
    <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
  {% endif %}
{% endblock form_content %}
